In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv(r"D:\tutorials\PROGRAMMING\Statistics For Machine Learning\winemag-data_first150k.csv")
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [5]:
#measures of central tendency
                    
df[["points","price"]].describe(include="all")

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000

In [6]:
# measures of spread

#range
np.ptp(df['points'])

20

In [9]:
df['price'].max() - df['price'].min()

2296.0

In [13]:
# Skewnewss

from scipy.stats import skew
skew(df['points'])

0.14283121423675518

In [15]:
# Kurtosis

from scipy.stats import kurtosis
# Pearson kurtosis
print(f"Pearson Kurtosis: {round(kurtosis(df['points'], fisher = False),2)}")

Pearson Kurtosis: 2.71

In [17]:
# Fisher kurtosis
print(f"Fisher Kurtosis: {round(kurtosis(df['points'], fisher = True),2)}")

Fisher Kurtosis: -0.29

In [18]:
# ZScore
from scipy.stats import zscore
zscore(df['points'])

0         2.517263
1         2.517263
2         2.517263
3         2.517263
4         2.206934
            ...
150925    0.965616
150926    0.965616
150927    0.965616
150928    0.655286
150929    0.655286
Name: points, Length: 150930, dtype: float64

In [19]:
# Reshape to array
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit_transform(df['points'].values.reshape(-1,1))  #this means 1 row

array([[2.51726326],
       [2.51726326],
       [2.51726326],
       ...,
       [0.96561563],
       [0.6552861 ],
       [0.6552861 ]])

In [20]:
np.percentile(df['points'], 75)

90.0

In [21]:
# IQR

from scipy.stats import iqr

iqr(df['points'])

4.0