In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"D:\tutorials\PROGRAMMING\Statistics For Machine Learning\sales_train.csv")
df

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1
1,03.01.2013,0,25,2552,899.00,1
2,05.01.2013,0,25,2552,899.00,-1
3,06.01.2013,0,25,2554,1709.05,1
4,15.01.2013,0,25,2555,1099.00,1
...,...,...,...,...,...,...
1043241,07.11.2013,10,37,18474,199.00,1
1043242,18.11.2013,10,37,18474,199.00,1
1043243,24.11.2013,10,37,18484,199.00,1
1043244,11.11.2013,10,37,19751,99.00,1
1043245,26.11.2013,10,37,18498,199.00,1

In [4]:
# 5 point number summary
# measure of position
round(df.describe(),2)

       date_block_num     shop_id     item_id  item_price  item_cnt_day
count      1043246.00  1043246.00  1043246.00  1043246.00    1043246.00
mean             4.47       32.45    10242.60      682.37          1.22
std              2.97       16.26     6305.36     1124.83          1.60
min              0.00        0.00       12.00       -1.00         -6.00
25%              2.00       22.00     4548.00      199.00          1.00
50%              4.00       30.00     9691.00      399.00          1.00
75%              7.00       47.00    15618.75      699.30          1.00
max             10.00       59.00    22168.00    59200.00        288.00

In [6]:
# measures of spread

#range
np.ptp(df['item_price'])

59201.0

In [7]:
# IQR
from scipy.stats import iqr

iqr(df['item_price'])

500.29999999999995

In [17]:
# Kurtosis
from scipy.stats import kurtosis

print(f"Pearson Kurtosis: {round(kurtosis(df['item_price'], fisher = False),2)}")

Pearson Kurtosis: 92.66

In [18]:
print(f"Fisher Kurtosis: {round(kurtosis(df['item_price'], fisher = True),2)}")

Fisher Kurtosis: 89.66

In [19]:
# Skewness

from scipy.stats import skew
skew(df['item_price'])

7.754518597379134

In [20]:
# Percentile
np.percentile(df['item_price'], 75)

699.3

In [21]:
# Z Score

from scipy.stats import zscore
zscore(df['item_price'])

0          0.281496
1          0.192593
2          0.192593
3          0.912748
4          0.370398
             ...
1043241   -0.429724
1043242   -0.429724
1043243   -0.429724
1043244   -0.518626
1043245   -0.429724
Name: item_price, Length: 1043246, dtype: float64

In [22]:
# Reshape to array
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit_transform(df['item_price'].values.reshape(-1,1))  #this means 1 row

array([[ 0.28149591],
       [ 0.19259347],
       [ 0.19259347],
       ...,
       [-0.42972364],
       [-0.51862608],
       [-0.42972364]])